/* Overpass LTO - Regular */
@font-face {
  font-family: "Overpass LTO";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Overpass/Overpass-Light.ttf");
}

@font-face {
  font-family: "Overpass LTO";
  font-style: normal;
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Overpass/Overpass-LightItalic.ttf");
}

@font-face {
  font-family: "Overpass LTO";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Overpass/Overpass-Regular.ttf");
}

@font-face {
  font-family: "Overpass LTO";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Overpass/Overpass-Bold.ttf");
}