:root {
    --lto-primary: #804BC9;
    --lto-secondary: #00ccdd;
    --lto-purple: #510094;
    --lto-purpleLight: #804BC9;
    --lto-teal:  #0aede6;
    --lto-blue: #00ccdd;
    --lto-pink: #ff00ff;
}